body {
      background: #4CA1AF;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      text-align:center;
      font-family: monospace;
      margin:100px;
      height: 637px;
      width: 930px;
      padding :5px;
      border-width: 10px;
 }

  #h1{
      font-family: "Times New Roman", Times, serif;
      background-color: black;;
      align-self: center;
      color: white;
      margin-right:0px;
      margin-left: 0px;
      height:70px;
      width: 928px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-bottom: 20px;
  }

#todo-container{
      margin-right: 50px;
      margin-left: 50px;
      margin-top: 50px;
      height:350px;
      width: 500px;;
      align-self: center;
       padding-left: 0px;
       overflow-y: auto;
}

.text{
      border: 2px solid #4CA1AF;
      border-radius: 25px;
      background-color:white;
      color:  black;
      height: 65px;
      width: 800px;
      text-align: center;
      margin-top: 20px;
      margin-left: 10px;
      margin-right: 5px;
      display: inline-block;

}
.add-btn{
      display: inline-block;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 24px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: #fff;
      background: #4CA1AF;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      border: none;
      border-radius: 15px;
      box-shadow: 5px 5px  #999;
      display: inline-block;
}

.add-btn:hover {
      background-color: #4CA1AF;
  }

.add-btn:active {
      background-color: #4CA1AF;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
  }

.remove{
      color:black;
      background-color:red;
      height: auto;
      width: auto;
      margin-left:3px;
      float: right;
      align: left;
      display: inline-block;
}
.remove:hover {
      background-color: white;
  }

.remove:active {
      background-color: white;
      transform: translateY(4px);
  }

.sec{
      padding-top: 0px;
      height: 100%;
      background-color:#ffffff;
      align-self: auto;
      border: 3px solid black;
}

.ul1{

      padding-left: 0px;
  }

  li{
     padding-top: 10px;
     padding-bottom: 10px;
     padding-right: 60px;
     width:100%;
     list-style-type: none;

}

ul{
   padding-left: 0px;
   display: flex;
   display: inline-block;
}

.checked{
     text-decoration: line-through;
     color:red;
}

.checkb{
    margin-left: 10px;
    background-color: #4CA1AF;
    margin-left: 10px;
    margin-right: auto;
    display: inline;
    height: auto;
    width: auto;
    float: right;
    font-size: auto;
    display: inline-block;
}
.checkb:hover {
      background-color: white;
  }

.checkb:active {
      background-color: white;
      transform: translateY(4px);
  }

footer{
    background-color: black;
    color:white;
    padding-top: 10px;
    height: 30px;
}

@media only screen and (max-width: 1120px) {
#h1{
    width: 100%;
}
}

  @media only screen and (max-width : 500px) {/* include a block of CSS properties only if a certain condition is true.*/
  .sec{
        width: 50%;
      }
    }
        @media only screen and (max-width: 1120px) {/* include a block of CSS properties only if a certain condition is true.*/
            .text{
                width: 50%;
              }
            }
              @media only screen and (max-width: 1120px) {/* include a block of CSS properties only if a certain condition is true.*/
                  body{
                      width: 50%;
                    }
                  }
                    @media only screen and (max-width: 1120px) {/* include a block of CSS properties only if a certain condition is true.*/
                        .add-btn{
                            width:10%;
                          }
                        }
                          @media only screen and (max-width: 1120px) {/* include a block of CSS properties only if a certain condition is true.*/
                              .todo-container{
                                  width: 50%;
                                }
                              }

                                  @media only screen and (max-width: 1120px) {/* include a block of CSS properties only if a certain condition is true.*/
                                      li{
                                          width: 50%;
                                          }
                                        }
                                          @media only screen and (max-width: 550px) {/* include a block of CSS properties only if a certain condition is true.*/
                                              .checkb{
                                                  width: 50%;
                                                  display: block;
                                                  }
                                                }
